{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('lambda_categorie/_form.html.twig') }}

    {# <a href="{{ path('app_lambda_categorie_index') }}">back to list</a> #}
{% endblock %}
