{# templates/profile/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier le Mail{% endblock %}

{% block body %}
    <h1>Modifier le Mail</h1>

    {{ form_start(form) }}
        {{ form_row(form.y) }}
        <button class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
