{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réponse{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header ">
            <h1 class="card-title mb-0">Créer une nouvelle Réponse</h1>
        </div>
        <div class="card-body">
            <h2>Informations de la réponse</h2>
            {{ include('lambda_categorie/_form.html.twig') }}
        </div>
        <div class="card-footer text-right">
            <a href="{{ path('app_create') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Retour à la liste
            </a>
        </div>
    </div>
</div>
{% endblock %}
