{% extends 'base.html.twig' %}

{% block title %}Hello CreateController!
{% endblock %}

{% block body %}
	<a href="{{ path('app_lambda_categorie_new') }}" class="list-group-item list-group-item-action  mt-2">Manage Catégorie</a>
	<a href="{{ path('app_lambda_question_new') }}" class="list-group-item list-group-item-action  mt-2">Manage Question</a>
	<a href="{{ path('app_lambdareponse_new') }}" class="list-group-item list-group-item-action  mt-2">Manage Reponse</a>

{% endblock %}
