{% extends 'base.html.twig' %}

{% block title %}Gestion des Éléments{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Gestion des Éléments</h2>
        </div>
        <div class="list-group list-group-flush">
            <a href="{{ path('app_lambda_categorie_new') }}" class="list-group-item list-group-item-action">
                <i class="fas fa-tags"></i> Gérer les Catégories
            </a>
            <a href="{{ path('app_lambda_question_new') }}" class="list-group-item list-group-item-action">
                <i class="fas fa-question-circle"></i> Gérer les Questions
            </a>
            <a href="{{ path('app_lambdareponse_new') }}" class="list-group-item list-group-item-action">
                <i class="fas fa-reply"></i> Gérer les Réponses
            </a>
        </div>
    </div>
        <a href="{{ path('app_profile') }}" class="btn btn-secondary mt-5">
                <i class="fas fa-arrow-left"></i> Retour 
            </a>
</div>
{% endblock %}

