{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Résultat du Quizz</h5>
            <p class="card-text">Votre résultat au quizz est de <strong>{{ resultat }}</strong> / <strong>{{ total }}</strong></p>
        </div>
    </div>
</div>
{% endblock %}
