{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Catégorie Time</h1>
    <ul class="grid gap-3 d-grid list-unstyled">
        {% for categorie in categories %}
            <li class="select-cate">
                <a class="select-cate btn btn-primary btn-lg btn-block" href="{{ path('app_quizz', {'id': categorie.id}) }}">{{ categorie.name }}</a>
            </li>
        {% endfor %}
    </ul>
    
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Your App</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <!-- ... autres liens ... -->
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_panel') }}">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

</div>
{% endblock %}


