{% extends 'base.html.twig' %}

{% block body %}
	<h1>Quizz time</h1>
	<ul>
		{% for questions in questions %}
			<li>{{ questions.question }}
				<br>
                  {% for reponse in reponses %}
                    {%if questions.id == reponse.IdQuestion %}
                        <input type="checkbox" id="horns" name="horns" />
                        <label for="horns">{{reponse.reponse}}<br></label>
                    {% endif %} 
                {% endfor %}
			</li>
            
	{% endfor %}
	</ul>
{% endblock %}
