* {
    background-color: white;
}

/* .d-grid{
    display: grid;
}
.d-flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
/* .side{
    margin-left: 5em;
    margin-right: 5em;
} */
/* .center{
    justify-content: center;
}

.select-cate{
    background-color: #FE4DCF;
    padding: 2em;
    color: black;
    text-decoration: none;
    width: 25em;
} */
