{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1>Edit Question</h1>

    {{ include('adminquestion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_adminquestion_index') }}"class="btn btn-primary btn-lg">back to list</a>

    {{ include('adminquestion/_delete_form.html.twig') }}
{% endblock %}
