{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Create new Question</h1>

    {{ include('adminquestion/_form.html.twig') }}

    <a href="{{ path('app_adminquestion_index') }}" class="btn btn-primary btn-lg">back to list</a>
{% endblock %}
