{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quizz time</h1>
    <ul>
        {% for categorie in categories %}
            <li><a href="{{ path('app_questions', {'id': categorie.id}) }}">{{ categorie.name }}</a></li>
            
        {% endfor %}
    </ul>
{% endblock %}
