{% extends 'base.html.twig' %}


{% block body %}
	<h1>Quizz time</h1>

	<select name="pets" id="pet-select">
		{% for categorie in categories %}
			<option value="">{{ categorie.name }}</option>
			{% endfor %}			 
	</select>
<button>envoyer</button>
	
	{% endblock %}
  