{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('admincategory/_form.html.twig') }}
   <a href="{{ path('app_admincategory_index') }}"class="btn btn-primary btn-lg">Back to list</a>
{% endblock %}
